<% layout("/layouts/boilerplate") %>

    <div class="row">
        <div class="col-8 offset-2">
            <br><br>
            <h3>Update the listings</h3>
            <form action="/listings/<%= listing._id %>?_method=PUT" method="post" novalidate class="needs-validation" enctype="multipart/form-data">
                <div class="mb-3">
                    <label for="title" class="form-label">Title</label>
                    <input type="text" name="listing[title]"  value="<%= listing.title %>" class="form-control" required>
                    <div class="valid-feedback">
                        Looks good!
                    </div>
                    <div class="invalid-feedback">
                        Please Enter the Title.
                    </div>
                </div>
                <div class="mb-3">
                    <label for="title" class="form-label">Description</label>
                    <textarea type="text" name="listing[description]" class="form-control" required><%= listing.description %></textarea>
                    <div class="valid-feedback">
                        Looks good!
                    </div>
                    <div class="invalid-feedback">
                        Please Enter the Description.
                    </div>
                </div>
                <div class="mb-3">
                    Original Listing Image <br>
                    <img src="<%= originalImageUrl %>" alt="">
                </div>
                <div class="mb-3">
                    <label for="image-link" class="form-label">Uplod Image file</label>
                    <input type="file" name="listing[image]" id="" class="form-control">
                    <div class="valid-feedback">
                        Looks good!
                    </div>
                    <div class="invalid-feedback">
                        Please Uplod a Images.
                    </div>
                </div>
                <div class="row">
                    <div class="mb-3 col-md-4">
                        <label for="price" class="form-label">Edit Price</label>
                        <input type="number" name="listing[price]"  value="<%= listing.price %>" class="form-control" required>
                        <div class="valid-feedback">
                            Looks good!
                        </div>
                        <div class="invalid-feedback">
                            Please insert the price.
                        </div>
                    </div>
                    <div class="mb-3 col-md-8">
                        <label for="country" class="form-label">Edit Country</label>
                        <input type="text" name="listing[country]"  value="<%= listing.country %>" class="form-control" required>
                        <div class="valid-feedback">
                            Looks good!
                        </div>
                        <div class="invalid-feedback">
                            Please Enter the country valid.
                        </div>
                    </div>
                </div>
                <div class="mb-3">
                    <label for="location" class="form-label">Edit Location</label>
                    <input type="text" name="listing[location]"  value="<%= listing.location %>" class="form-control" required>
                    <div class="valid-feedback">
                        Looks good!
                    </div>
                    <div class="invalid-feedback">
                        Please Enter the location.
                    </div>
                </div>
                <div class="mb-3">
                    <label for="Categery" class="form-label">Edit Categery</label>
                    <select name="listing[categery]" class="form-select" required>
                        <option value="" disabled>Select</option>
                        <option value="mountain" <%= listing.categery === 'mountain' ? 'selected' : '' %>>Mountain</option>
                        <option value="iconiccity" <%= listing.categery === 'iconiccity' ? 'selected' : '' %>>Iconic City</option>
                        <option value="Castel" <%= listing.categery === 'Castel' ? 'selected' : '' %>>Castel</option>
                        <option value="room" <%= listing.categery === 'Room' ? 'selected' : '' %>>Room</option>
                        <option value="AmzingsPoll" <%= listing.categery === 'Pools' ? 'selected' : '' %>>AmzingsPoll</option>
                        <option value="Camping" <%= listing.categery === 'Camping' ? 'selected' : '' %>>Camping</option>
                        <option value="Farms" <%= listing.categery === 'Farms' ? 'selected' : '' %>>Farms</option>
                        <option value="Arctic" <%= listing.categery === 'Arctic' ? 'selected' : '' %>>Arctic</option>
                        <option value="Domes" <%= listing.categery === 'Domes' ? 'selected' : '' %>>Domes</option>
                        <option value="Boats" <%= listing.categery === 'Boats' ? 'selected' : '' %>>Boats</option>
                    </select>
                    <div class="valid-feedback">
                        Looks good!
                    </div>
                    <div class="invalid-feedback">
                        Please select a category.
                    </div>
                </div>
                <div class="col-12">
                    <div class="form-check">
                      <input class="form-check-input" type="checkbox" value="" id="invalidCheck" required>
                      <label class="form-check-label" for="invalidCheck">
                        Agree to terms and conditions
                      </label>
                      <div class="invalid-feedback">
                        You must agree before submitting.
                      </div>
                    </div>
                  </div>
                  
                <button class="btn btn-success mrg-top-2">Save Edit</button>
            </form>
        </div>
    </div>