<% layout("/layouts/boilerplate") %>


    <div id="filters">
        <div class="filter" id="All">
            <div><i class="fa-solid fa-bars"></i></div>
            <p>All</p>
        </div>
        <div class="filter" id="Room">
            <div><i class="fa-solid fa-bed"></i></div>
            <p>Rooms</p>
        </div>
        <div class="filter" id="iconiccity">
            <div><i class="fa-solid fa-mountain-city"></i></div>
            <p>Iconic City</p>
        </div>
        <div class="filter" id="mountain">
            <div><i class="fa-solid fa-mountain-sun"></i></div>
            <p>Mountain</p>
        </div>
        <div class="filter" id="Castel">
            <div><i class="fa-brands fa-fort-awesome"></i></div>
            <p>Castles</p>
        </div>
        <div class="filter" id="Pools">
            <div><i class="fa-solid fa-person-swimming"></i></div>
            <p>Amazings Pools</p>
        </div>
        <div class="filter" id="Camping">
            <div><i class="fa-solid fa-campground"></i></div>
            <p>Camping</p>
        </div>
        <div class="filter" id="Farms">
            <div><i class="fa-solid fa-tractor"></i></div>
            <p>Farms</p>
        </div>
        <div class="filter" id="Arctic">
            <div><i class="fa-solid fa-snowflake"></i></div>
            <p>Arctic</p>
        </div>
        <div class="filter" id="Domes">
            <div><i class="fa-solid fa-igloo"></i></div>
            <p>Domes</p>
        </div>
        <div class="filter" id="Boats">
            <div><i class="fa-solid fa-sailboat"></i></div>
            <p>Boats</p>
        </div>

        <div class="text-toggle">
            <div class="form-check-reverse form-switch">
                <input class="form-check-input" type="checkbox" role="switch" id="switchCheckDefault">
                <label class="form-check-label" for="switchCheckDefault">Dsiplay Total after Taxes</label>
            </div>
        </div>
    </div>
    <div class="row row-cols-lg-3 row-cols-md-2 row-cols-1 mt-3" id="rowalignbyid">
        <% for (listing of allListings) { %>
            <a href="/listings/<%= listing._id %>" class="listing-link">
                <div class="card col listing-card show-cradsforcategree" id="rowalignimage">
                    <img src="<%= listing.image.url %>" class="card-img-top" alt="listing_image" style="height: 20rem;">
                    <p class="card-text">Location: <%= listing.location %>
                    <div class="card-body">
                        <p class="card-text">
                            <b>Title : <%= listing.title %></b><br>
                            Price : ₹ <%= listing.price %> / night
                                <i class="text-info"> &nbsp; &nbsp; +18% GST</i>
                                <p class="valcategree" data-category="<%= listing.categery %>" style="display: none;">
                                    <%= listing.categery %>
                                </p>
                        </p>
                    </div>
                    </p>
                </div>
            </a>
            <% } %>
    </div>